@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root{
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    background-color: white;
}

.mobile-nav{
    display: none;
}

.mobile-img-container{
    display: none;
}

.mobile-menu{
    display: none;
}

ul{
    list-style-type: none;
    text-transform: uppercase;
}


a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

header ul li a{
    font-family: 'DM Serif Display', sans-serif;
    font-weight: 400;
}

header .desktop-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px 70px;
}

.desktop-nav ul{
    display: flex;
    gap: 1.5em;
}

main{
    font-family: 'Karla', sans-serif;
}

.first-section{
    display: flex;
    flex-direction: row;
    gap: .8em;
    width: 100%;
    background-image: url(images/bg-pattern-intro-left-desktop.svg), url(images/bg-pattern-intro-right-desktop.svg);
    background-size: contain;
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--Dark-Violet);
    background-blend-mode: normal;
}

.section-text{
    width: 50%;
    margin: auto;
    padding-left: 70px;
}

.section-text h1{
    color: white;
}

.section-text p{
    color: white;
}

.section-text button{
    width: 30%;
    border: 1px solid white;
    color: white;
    padding: 7px;
    background-color: inherit;
    margin-top: 1em;
    margin-bottom: 2em;
    cursor: pointer;
}

.desktop-img-container{
    width: 50%;
}

.desktop-img-container img{
    width: 80%;
    margin-bottom: -80px;
}

.second-section{
    margin-top: 3.5em;
    padding: 40px 70px;
}

.sub-container{
    display: grid;
    grid-template-columns: auto, auto, auto;
    grid-template-areas: "first-item second-item third-item";
    grid-column-gap: 1em;
}

.outcast{
    padding: 25px 0px;
    font-weight: 700;
}

.last-section{
    width: 90%;
    margin: auto;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: var(--Dark-Violet);
    background-blend-mode: normal;  
}

.last-section .btn{
    width: 50%;
    margin: auto;
    text-align: right;
}

.last-section .btn button{
    width: 50%;
    padding: 10px 15px;
    border: 1px solid white;
    background-color: inherit;
    color: white;
    cursor: pointer;
}

.last-section .content{
    width: 50%;
}

.last-section h1 span{
    display: block;
}

.last-section h1{
    line-height: 1.3em;
    font-weight: 700;
    color: white;
}

footer{
    margin: 3em 0;
    background-image: url(images/bg-pattern-footer-desktop.svg);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: var(--Very-Light-Gray);
    background-blend-mode: normal;  
}

.footer-container{
    padding: 20px 60px;
}

.footer-logo-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-logo-section .socials{
    display: flex;
    gap: .5em;
}

.footer-end{
    display: flex;
    flex-direction: row;
    gap: 5em;
    padding: 20px 0px;
}

.footer-end .main-ul{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.footer-end .main-ul .sub-ul{
    display: flex;
    flex-direction: column;
    gap: .5em;
}



@media screen and (max-width: 900px) {

    header .desktop-nav{
        display: none;
    }

    .desktop-img-container{
        display: none;
    }

    .close-button{
        display: none;
    }

    header .mobile-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .first-section{
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
        background: none;
    }

    .section-text{
        width: 100%;
        margin: auto;
        padding: 0px 10px;
        text-align: center;
        background-image: url(images/bg-pattern-intro-left-mobile.svg), url(images/bg-pattern-intro-right-mobile.svg);
        background-size: contain;
        background-position: left bottom, right top;
        background-repeat: no-repeat, no-repeat;
        background-color: var(--Dark-Violet);
        background-blend-mode: normal;
    }
    
    .mobile-img-container{
        display: block;
        width: 100%;
    }

    .mobile-img-container img{
        width: 100%;
    }

    .second-section{
        margin-top: 3.5em;
        padding: 10px 20px;
        text-align: center;
    }
    
    .sub-container{
        display: flex;
        flex-direction: column;
    }

    .last-section{
        width: 90%;
        margin: auto;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-image: url(images/bg-pattern-how-we-work-mobile.svg);
        background-size: contain;
        background-position: right top;
        background-repeat: no-repeat;
        background-color: var(--Dark-Violet);
        background-blend-mode: normal;
    }
    
    .last-section .btn{
        width: 100%;
        text-align: center;
    }

    .last-section .content{
        width: 100%;
    }
    
    .last-section .btn button{
        width: 60%;
        padding: 10px 15px;
        margin-bottom: 1.2em;
    }
    
    .last-section h1 span{
        display: inline-block;
    }

    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: url(images/bg-pattern-footer-mobile.svg);
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat;
        background-color: var(--Very-Light-Gray);
        background-blend-mode: normal;  
    }

    .footer-container{
        padding: 20px 0px;
    }

    .footer-logo-section{
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        text-align: center;
        padding: 30px 0px;
    }

    .footer-logo-section .socials{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        gap: 1em;
    }

    footer .footer-end{
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding: 0;
    }
    
    .footer-end .main-ul{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
    
    .footer-end .main-ul .sub-ul{
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    .mobile-menu{
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 3.6em;
        text-align: center;
        background-image: url(images/bg-pattern-mobile-nav.svg);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        background-color: var(--Dark-Violet);
        background-blend-mode: normal;
        display: none;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding: 30px 0px;
    }

    .active{
        border: 1px solid white;
        width: 50%;
        margin: auto;
        padding: 7px 7px;
    }




}